/* http://meyerweb.com/eric/tools/css/reset/ v2.0b1 | 201101 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } /* remember to define visible focus styles!  :focus { outline: ?????; } */ /* remember to highlight inserts somehow! */ ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }

html {
	font-size: 10px;
}

body {
	/*background-color: #100029;*/
	background-color: #000;
	font-size: 1.8rem;
	/*color: #f5f5f5;*/
	color: #aaa;
	font-family: 'Roboto', monospace;
}

input:checked + label {
	color: #a0a;
}

a {
	color: #0aa;
}

main {
	width: 100vw;
	min-height: 90vh;
}

main > div {
	width: 70vw;
	margin: 1rem auto;
}

main h1 {
	font-size: 2.8rem;
	font-weight: bold;
	margin: 1rem auto;
	text-align: center;
	color: #5ff;
}

h1.today {
	color: #f5f;
}

h1.today ~ * {
	color: #fff;
}

.hidden {
	display: none;
}

label {
	user-select: none;
}

header {
	/*background-color: #9ce4c7;*/
	background-color: #fff;
	/*color: #100029;*/
	color: #000;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.ctl {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

header p, footer p {
	padding: .5rem;
}

header em {
	color: #0aa;
}

footer em {
	color: #aa0;
}

footer {
	background-color: #555;
	color: #000;
}

.time {
	color: #55f;
}

.dash {
	color: #5ff;
}

.aud {
	display: inline-block;
	color: #f55;
	width: 6ch;
}

/*.course {*/
	/*color: #ff5;*/
/*}*/

.proff {
	color: #ff5;
}

@media screen and (max-width: 600px) {
	html {
		font-size: 6px;
	}
	main > div {
		width: 95vw;
	}
	header {
		background-color: #555;
		color: #aaa;
	}
	header em {
		color: #aa0;
	}
	input:checked + label {
		color: #aa0;
	}
}

